<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head>
	<title>パスワード変更</title>
</head>
<body>
  <div class="contents" th:fragment="change-password(email)">
    <section class="content">
			<div class="modal fade" id="change-password-modal" aria-hidden="true" data-keyboard="false" data-backdrop="static">
				<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title"><em class="fa fa-key"></em>&nbsp;パスワード変更</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<form th:action="@{/employee/change_password}" method="POST" class="container"
								id="change-password-form">
								<input type="hidden" name="email" th:value="${email}"/>
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="form-group col-lg-12 col-md-12 col-sm-12">
												<label>変更パスワード</label>
												<input type="password" class="form-control" name="password"/>
											</div>
										</div>
										<div class="row">
											<div class="form-group col-lg-12 col-md-12 col-sm-12">
												<label>確認用パスワード</label>
												<input type="password" class="form-control" name="confirmPassword"/>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">キャンセル</button>
							<button type="button" class="btn btn-info" id="change-password">変更</button>
						</div>
					</div>
				</div>
			</div>
    </section>
  </div>
</body>
</html>