<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<body>
  <th:block th:fragment="pagination">
    <div class="mt-3 d-flex justify-content-center align-items-center">
      <nav>
	    <ul class="pagination">
  		  <li class="page-item" th:classappend="${page.first} ? 'disabled':''" th:data-value="${page.number}">
            <a class="page-link" th:href="@{${path}(pageNumber=${page.number})}">前へ</a>
  	      </li>
  		  <th:block th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}">
  		  <li class="page-item" th:classappend="${i == page.number} ? 'active' : ''"
  		    th:if="${i < page.number + 3 and i > page.number - 3 and i > -1}" th:data-value="${i + 1}">
  		    <a class="page-link" th:text="${i + 1}" th:href="@{${path}(pageNumber=${i + 1})}"
  			  th:classappend="${i == page.number} ? 'disabled' : ''"></a>
  	      </li>
  		  <li class="page-item" th:classappend="${i == page.number} ? 'active' : ''"
  		    th:if="${page.number > 2 and i == 0}" th:data-value="${i + 1}">
  		    <a class="page-link" th:href="@{${path}(pageNumber=${i + 1})}">1</a>
  	      </li>
		  <li class="page-item" th:if="${i < 1 and page.number > 3}">
		    <p>...</p>
	      </li>
  		  <li class="page-item" th:if="${i > page.totalPages - 2 and page.number < page.totalPages - 3}">
  		    <p>...</p>
  	      </li>
  		  <li class="page-item" th:classappend="${i == page.number} ? 'active' : ''"
  	        th:if="${i == page.totalPages - 1 and page.number < page.totalPages - 3}" th:data-value="${i + 1}">
  		   <a class="page-link" th:text="${page.totalPages}" th:href="@{${path}(pageNumber=${i + 1})}"></a>
  		  </li>
  		  </th:block>
  		  <li class="page-item" th:classappend="${page.last} ? 'disabled':''" th:data-value="${page.number + 2}">
    	    <a class="page-link" th:href="@{${path}(pageNumber=${page.number + 2})}">次へ</a>
  	      </li>
	    </ul>
      </nav>
    </div>
  </th:block>
</body>
</html>