<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/detail-layout}">

<head>
<title>顧客詳細情報</title>
</head>
<body>
  <div layout:fragment="main-detail-content" th:object="${client}">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2 bg-white">
          <div class="col-sm-6">
            <a th:href="@{/client}">
              <button type="button" class="btn bg-gradient-primary btn-lg ml-3">
                <i class="fas fa-reply"></i>&nbsp;顧客一覧へ戻る
              </button>
            </a>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
              <li class="breadcrumb-item"><a th:href="@{/client}">顧客一覧</a></li>
              <li class="breadcrumb-item active" th:text="${client.name}"></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <section class="content">
      <div class="card">
        <!-- content-body -->
        <div class="card-body" style="background:#BAD3FF;">
          <div class="container-fluid">
  		    <div class="row">
              <div class="col-sm-3">
                <div class="card">
                  <div class="card-header">
          		    <h3><i class="fas fa-building"></i>&nbsp;<span id="page-title" th:text="${client.name}"></span></h3>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table">
                        <tbody>
                          <tr>
                            <th style="width:50%">
                              <button type="button" class="btn btn-info client-edit-button" id="client-edit-button"
	                            th:attr="data-href=@{/client/show}, data-id=${client.id}"
	                            data-toggle="modal" data-target="#client-edit-modal">
	                            <i class="far fa-edit"></i>&nbsp;編集
	                          </button>
                            </th>
                            <td>
                              <button type="button" class="btn btn-danger client-del-button"
	                      	    th:attr="data-href=@{/client/delete}, data-id=${client.id}">
	                            <i class="far fa-trash-alt"></i>&nbsp;削除
	                          </button>
                            </td>
                          </tr>
                          <tr>
                            <th>顧客名：</th>
                            <td th:text="${client.name}"></td>
                          </tr>
                          <tr>
                            <th>業種：</th>
                            <td th:text="${client.getValueOfIndustry()}"></td>
                          </tr>
                          <tr>
                            <th>タイプ：</th>
                            <td th:text="${client.getValueOfClientType()}"></td>
                          </tr>
                          <tr>
                            <th>所在地：</th>
                            <td>
                              <i class="fas fa-map-marker-alt"></i>
                              <a th:href="@{'https://www.google.co.jp/maps/place/' + ${client.address}}"
                                target=_blank>
                                <span th:text="${client.address}"></span>
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <th>URL：</th>
                            <td>
                              <a th:href="${client.url}"
                                th:if="${30 <= #strings.length(client.url)}"
                                th:text="|${#strings.substring(client.url,0,20)}...|"></a>
                            </td>
                          </tr>
                          <tr>
                            <th>初回面談日：</th>
                            <td th:text="${client.firstInterviewDate}"></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="card" style="min-height:450px; max-height:550px; overflow:auto;">
                  <div class="card-header">
          		    <h3>
          		      <i class="fas fa-users"></i>&nbsp;
          		      <span id="page-title">顧客担当者</span>
          		    </h3>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table" style="table-layout:fixed; width:100%;">
                        <tbody th:each="clientStaff, stat: ${client.clientStaffList}">
                          <tr th:if="${stat.count gt 1}">
                            <td><h3 th:text="|${stat.count}人目|"></h3></td>
                          </tr>
                          <tr>
                            <th style="width:50%">担当者名：</th>
                            <td th:text="${clientStaff.name}"></td>
                          </tr>
                          <tr>
                            <th>所属部署：</th>
                            <td th:text="${clientStaff.department}"></td>
                          </tr>
                          <tr>
                            <th>役職：</th>
                            <td th:text="${clientStaff.position}"></td>
                          </tr>
                          <tr>
                            <th>電話番号：</th>
                            <td>
                              <a th:href="@{'tel:' + ${clientStaff.tel}}" th:text="${clientStaff.tel}"></a>
                            </td>
                          </tr>
                          <tr>
                            <th>メール：</th>
                            <td style="word-wrap:break-word;">
                              <a th:href="@{'mailto:' + ${clientStaff.email}}" th:text="${clientStaff.email}"
                                target=_blank></a>
                            </td>
                          </tr>
                          <tr>
                            <th>立場：</th>
                            <td th:text="${clientStaff.getStandpointValue()}"></td>
                          </tr>
                          <tr>
                            <th>意欲：</th>
                            <td>
                              <i class="fas fa-long-arrow-alt-up text-danger" th:if="${clientStaff.motivation == 1}"></i>
                              <i class="fas fa-long-arrow-alt-right text-success" th:if="${clientStaff.motivation == 2}"></i>
                              <i class="fas fa-long-arrow-alt-down text-primary" th:if="${clientStaff.motivation == 3}"></i>
                              <i class="fas fa-question text-secondary" th:if="${clientStaff.motivation == 4}"></i>
                              <span th:text="${clientStaff.getMotivationValue()}"></span>
                            </td>
                          </tr>
                          <tr>
                            <th>備考：</th>
                            <td th:text="${clientStaff.remarks}"></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <div class="card card-olive">
              		  <div class="card-header">
                        <h3 class="card-title" id="yealy-sales-title">売上推移</h3>
                        <div class="card-tools">
                          <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus">&nbsp;表示切替</i>
                          </button>
                        </div>
                      </div>
                      <div class="card-body" style="display: block;">
                        <div class="row">
                          <h4 class="col-sm-4">合計売上金額：</h4>
                          <h4 class="col-sm-4" id="yearly-sales-sum"></h4>
                        </div>
                        <div class="chart">
                          <div class="chartjs-size-monitor">
                            <div class="chartjs-size-monitor-expand">
                              <div class=""></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink">
                              <div class=""></div>
                            </div>
                          </div>
                          <canvas id="client-stackedBarChart" style="min-height: 350px; height: 350px; max-height: 350px; max-width: 100%; display: block; width: 416px;" width="832" height="500" class="chartjs-render-monitor"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card" style="min-height:500px; max-height:650px; overflow:auto;">
                  <div class="card-body">
                    <div class="card card-primary card-outline card-outline-tabs">
              		  <div class="card-header p-0 border-bottom-0">
              		    <div class="m-2">
                          <form th:action="@{/client/detail/{id}(id=${client.id})}" id="purchasedYearForm">
                            <label>年度選択：</label>
                            <select name="year" id="year">
                              <th:block th:each="y : ${yearList}">
                              <option th:value="${y}" th:text="|${y}年度|" th:selected="${y == year}"></option>
                              </th:block>
                            </select>
                          </form>
                        </div>
                	    <ul class="nav nav-tabs" id="client-detail-tabls" role="tablist">
                  	      <li class="nav-item">
                            <a class="nav-link active" id="project-tab"
                              data-toggle="pill" href="#tab-project" role="tab"
                              aria-controls="tab-project" aria-selected="true">案件
                            </a>
                  	      </li>
                          <li class="nav-item">
                            <a class="nav-link" id="product-tab"
                              data-toggle="pill" href="#tab-product" role="tab"
                              aria-controls="tab-product" aria-selected="false">製品・サービス</a>
                          </li>
	                      <li class="nav-item">
	                        <a class="nav-link" id="inquiry-tab"
	                          data-toggle="pill" href="#tab-inquiry" role="tab"
	                          aria-controls="tab-inquiry" aria-selected="false">問い合わせ</a>
	                      </li>
	                      <li class="nav-item">
	                        <a class="nav-link" id="requirement-tab"
	                          data-toggle="pill" href="#tab-requirement" role="tab"
	                          aria-controls="tab-requirement" aria-selected="false">要望</a>
	                      </li>
	                      <li class="nav-item">
	                        <a class="nav-link" id="complaint-tab"
	                          data-toggle="pill" href="#tab-complaint" role="tab"
	                          aria-controls="tab-complaint" aria-selected="false">クレーム</a>
	                      </li>
                        </ul>
                      </div>
                      <div class="card-body">
                        <div class="tab-content" id="custom-tabs-four-tabContent">
                          <div class="tab-pane fade active show" id="tab-project" role="tabpanel"
                            aria-labelledby="tab-project">
                            <div class="mb-3">
                              <a th:href="@{/project}">
                                <button type="button" class="btn btn-outline-success" data-toggle="tooltip"
                                data-placement="right">
                                  案件一覧へ
                                </button>
                              </a>
                            </div>
                            <div th:include="/project/index::project-table"></div>
                          </div>
                          <div class="tab-pane fade" id="tab-product" role="tabpanel">
                            <div class="mb-3">
                              <a th:href="@{/product}">
                                <button type="button" class="btn btn-outline-success" data-toggle="tooltip"
                                data-placement="right">
                                  製品・サービス一覧へ
                                </button>
                              </a>
                            </div>
                            <div th:include="/product/index::product-table"></div>
                          </div>
                          <div class="tab-pane fade" id="tab-inquiry" role="tabpanel">
                            <div class="card" th:each="i : ${inquiryData}">
                              <div class="card-body">
                			    <dl class="row">
                			      <dt class="col-sm-5">顧客名：</dt>
                  				  <dd class="col-sm-7" th:text="${i.client?.name}"></dd>
                  			      <dt class="col-sm-5">発生日：</dt>
                  				  <dd class="col-sm-7" th:text="${i.occurredDate}"></dd>
                  				  <dt class="col-sm-5">内容：</dt>
                  				  <dd class="col-sm-7"th:text="${i.content}"></dd>
                  				  <dt class="col-sm-5">担当責任者：</dt>
                  				  <dd class="col-sm-7" th:text="${i.staff?.name}"></dd>
                  				  <dt class="col-sm-5">解決済か：</dt>
                  				  <dd class="col-sm-7" th:text="${i.hasSolved ? '解決済み' : '未解決'}"
	                                th:classappend="${i.hasSolved ? 'text-danger' : 'text-success'}"></dd>
	                              <th:block th:if="${i.hasSolved}">
	                              <dt class="col-sm-5">解決日：</dt>
                  				  <dd class="col-sm-7" th:text="${i.solvedDate}"></dd>
                  				  <dt class="col-sm-5">解決内容：</dt>
                  				  <dd class="col-sm-7" th:text="${i.solvedContent}"></dd>
	                              </th:block>
	                              <dd class="col-sm-5 mt-3">
	                                <button type="button" class="btn btn-info inquiry-edit-button" id="inquiry-edit-button"
				                      th:attr="data-href=@{/inquiry_requirement_complaint/show}, data-id=${i.id}"
				                      data-toggle="modal" data-target="#inquiry-edit-modal">
	                      			  <i class="far fa-edit"></i>&nbsp;編集
	                    			</button>
	                  			  </dd>
	                              <dd class="col-sm-7 mt-3">
				                    <button type="button" class="btn btn-danger inquiry-del-button"
				                      th:attr="data-href=@{/inquiry_requirement_complaint/delete}, data-id=${i.id}">
				                      <i class="far fa-trash-alt"></i>&nbsp;削除
				                    </button>
	                    		  </dd>
                			    </dl>
              			      </div>
              			    </div>
              			    <div th:if="${inquiryData.size() < 1}">※ 問い合わせはありません。</div>
                          </div>
                          <div class="tab-pane fade" id="tab-requirement" role="tabpanel"
                            aria-labelledby="tab-requirement">
                            <div class="card" th:each="r : ${requirmentData}">
                              <div class="card-body">
                			    <dl class="row">
                			      <dt class="col-sm-5">顧客名：</dt>
                  				  <dd class="col-sm-7" th:text="${r.client?.name}"></dd>
                  			      <dt class="col-sm-5">発生日：</dt>
                  				  <dd class="col-sm-7" th:text="${r.occurredDate}"></dd>
                  				  <dt class="col-sm-5">内容：</dt>
                  				  <dd class="col-sm-7"th:text="${r.content}"></dd>
                  				  <dt class="col-sm-5">担当責任者：</dt>
                  				  <dd class="col-sm-7" th:text="${r.staff?.name}"></dd>
                  				  <dt class="col-sm-5">解決済か：</dt>
                  				  <dd class="col-sm-7" th:text="${r.hasSolved ? '解決済み' : '未解決'}"
	                                th:classappend="${r.hasSolved ? 'text-danger' : 'text-success'}"></dd>
	                              <th:block th:if="${r.hasSolved}">
	                              <dt class="col-sm-5">解決日：</dt>
                  				  <dd class="col-sm-7" th:text="${r.solvedDate}"></dd>
                  				  <dt class="col-sm-5">解決内容：</dt>
                  				  <dd class="col-sm-7" th:text="${r.solvedContent}"></dd>
	                              </th:block>
	                              <dd class="col-sm-5 mt-3">
	                                <button type="button" class="btn btn-info inquiry-edit-button" id="inquiry-edit-button"
				                      th:attr="data-href=@{/inquiry_requirement_complaint/show}, data-id=${r.id}"
				                      data-toggle="modal" data-target="#inquiry-edit-modal">
	                      			  <i class="far fa-edit"></i>&nbsp;編集
	                    			</button>
	                  			  </dd>
	                              <dd class="col-sm-7 mt-3">
				                    <button type="button" class="btn btn-danger inquiry-del-button"
				                      th:attr="data-href=@{/inquiry_requirement_complaint/delete}, data-id=${r.id}">
				                      <i class="far fa-trash-alt"></i>&nbsp;削除
				                    </button>
	                    		  </dd>
                			    </dl>
              			      </div>
              			    </div>
              			    <div th:if="${requirmentData.size() < 1}">※ 要望はありません。</div>
                          </div>
                          <div class="tab-pane fade" id="tab-complaint" role="tabpanel"
                            aria-labelledby="tab-complaint">
                            <div class="card" th:each="c : ${complaintData}">
                              <div class="card-body">
                			    <dl class="row">
                			      <dt class="col-sm-5">顧客名：</dt>
                  				  <dd class="col-sm-7" th:text="${c.client?.name}"></dd>
                  			      <dt class="col-sm-5">発生日：</dt>
                  				  <dd class="col-sm-7" th:text="${c.occurredDate}"></dd>
                  				  <dt class="col-sm-5">内容：</dt>
                  				  <dd class="col-sm-7"th:text="${c.content}"></dd>
                  				  <dt class="col-sm-5">担当責任者：</dt>
                  				  <dd class="col-sm-7" th:text="${c.staff?.name}"></dd>
                  				  <dt class="col-sm-5">解決済か：</dt>
                  				  <dd class="col-sm-7" th:text="${c.hasSolved ? '解決済み' : '未解決'}"
	                                th:classappend="${c.hasSolved ? 'text-danger' : 'text-success'}"></dd>
	                              <th:block th:if="${c.hasSolved}">
	                              <dt class="col-sm-5">解決日：</dt>
                  				  <dd class="col-sm-7" th:text="${c.solvedDate}"></dd>
                  				  <dt class="col-sm-5">解決内容：</dt>
                  				  <dd class="col-sm-7" th:text="${c.solvedContent}"></dd>
	                              </th:block>
	                              <dd class="col-sm-5 mt-3">
	                                <button type="button" class="btn btn-info inquiry-edit-button" id="inquiry-edit-button"
				                      th:attr="data-href=@{/inquiry_requirement_complaint/show}, data-id=${c.id}"
				                      data-toggle="modal" data-target="#inquiry-edit-modal">
	                      			  <i class="far fa-edit"></i>&nbsp;編集
	                    			</button>
	                  			  </dd>
	                              <dd class="col-sm-7 mt-3">
				                    <button type="button" class="btn btn-danger inquiry-del-button"
				                      th:attr="data-href=@{/inquiry_requirement_complaint/delete}, data-id=${c.id}">
				                      <i class="far fa-trash-alt"></i>&nbsp;削除
				                    </button>
	                    		  </dd>
                			    </dl>
              			      </div>
              			    </div>
              			    <div th:if="${complaintData.size() < 1}">※ クレームはありません。</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="card">
                  <div class="card-body">
                    <div class="card card-purple">
                      <div class="card-header">
                        <h3 class="card-title">製品割合</h3>
                        <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                          <i class="fas fa-minus">&nbsp;表示切替</i>
                        </button>
                      </div>
                      </div>
                      <div class="card-body">
                        <p class="text-center" id="product-warning">※ 製品・サービスが登録されておりません。</p>
                        <div class="chartjs-size-monitor">
                          <div class="chartjs-size-monitor-expand">
                            <div class=""></div>
                          </div>
                          <div class="chartjs-size-monitor-shrink">
                            <div class=""></div>
                          </div>
                        </div>
                        <canvas id="client-pieChart" style="min-height: 350px; height: 350px; max-height: 350px; max-width: 100%; display: block; width: 416px;" width="832" height="500" class="chartjs-render-monitor"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card" style="min-height:500px; max-height:665px; overflow:auto;">
                  <div class="card-header">
          		    <h3>
          		      <i class="nav-icon fas fa-user-friends"></i>&nbsp;
          		      <span id="page-title">当社担当者</span>
          		    </h3>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table" style="table-layout:fixed; width:100%;">
                        <tbody th:each="staffClient, stat : ${client.staffClientList}"
                          th:unless="${staffClient.staff?.delFlg}">
                          <tr th:if="${stat.count gt 1}">
                            <td><h3 th:text="|${stat.count}人目|"></h3></td>
                          </tr>
                          <tr>
                            <th>氏名：</th>
                            <td th:text="${staffClient.staff?.name}"></td>
                          </tr>
                          <tr>
                            <th>部署：</th>
                            <td th:text="${staffClient.staff?.department}"></td>
                          </tr>
                          <tr>
                            <th>役職：</th>
                            <td th:text="${staffClient.staff?.position}"></td>
                          </tr>
                          <tr>
                            <th>電話：</th>
                            <td>
                              <a th:href="@{'tel:' + ${staffClient.staff?.tel}}"
                                th:text="${staffClient.staff?.tel}"></a>
                            </td>
                          </tr>
                          <tr>
                            <th>メール：</th>
                            <td style="word-wrap:break-word">
                              <a th:href="@{'mailto:' + ${staffClient.staff?.email}}"
                                th:text="${staffClient.staff?.email}" target=_blank></a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
	    </div>
	    <!-- /.card-body -->
	  </div>
	  <!-- client edit modal -->
	  <th:block th:replace="client/edit::client-edit-modal"></th:block>
	  <!-- product edit modal -->
	  <th:block th:replace="project/edit::project-edit-modal"></th:block>
	  <!-- product edit modal -->
	  <th:block th:replace="product/edit::product-edit-modal"></th:block>
	  <!-- inquiry edit modal -->
	  <th:block th:replace="inquiry_requirement_complaint/edit::inquiry-edit-modal"></th:block>
    </section>
  </div>
</body>
</html>