<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">

<head>
<title>顧客一覧</title>
</head>
<body>
  <div layout:fragment="contents">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6"></div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
              <li class="breadcrumb-item active">顧客一覧</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

    <section class="content">
      <div class="card">
        <div class="card-header">
          <h3><i class="fas fa-building"></i>&nbsp;顧客一覧</h3>
        </div>

		<section>
			<div class="card-body">
				<div class="mb-2">
					<button type="button" class="btn btn-primary btn-lg"
						data-toggle="modal" data-target="#client-create-modal">
						<i class="fas fa-plus"></i>&nbsp;顧客登録
					</button>
					<button type="button" class="btn btn-light btn-lg"
						data-toggle="modal" data-target="#client-search-modal">
						<i class="fas fa-search"></i>&nbsp;顧客検索
					</button>
				</div>
			</div>
		</section>

		<section>
          <div class="card-body">
            <div class="dataTables_wrapper dt-bootstrap4" id="client-search-result">
              <div class="row">
                <div class="col-sm-12 table-scroll">
                  <table id="client-table" class="table table-bordered table-striped dataTable text-nowrap" style="width:100%;">
	                <thead>
	                  <tr class="bg-lightblue" role="row" th:with="sortOrder = ${clientSearchForm.sortOrder}, sortData = ${clientSearchForm.sortData}">
	                    <th class="text-center">詳細</th>
	                    <th class="text-center sort-pointer" data-sort-data="name"
	                    th:data-sort-order="${sortOrder}" th:classappend="${sortData == 'name' ? 'active' : ''}">顧客名
	                      <i class="fas fa-long-arrow-alt-up" th:classappend="${sortData == 'name' && sortOrder == 'asc' ? 'sort-active' : ''}"></i><i class="fas fa-long-arrow-alt-down" th:classappend="${sortData == 'name' && sortOrder == 'desc' ? 'sort-active' : ''}"></i>
	                    </th>
	                    <th class="text-center sort-pointer" data-sort-data="industry"
	                    th:data-sort-order="${sortOrder}" th:classappend="${sortData == 'industry' ? 'active' : ''}">業種
	                      <i class="fas fa-long-arrow-alt-up" th:classappend="${sortData == 'industry' && sortOrder == 'asc' ? 'sort-active' : ''}"></i><i class="fas fa-long-arrow-alt-down" th:classappend="${sortData == 'industry' && sortOrder == 'desc' ? 'sort-active' : ''}"></i>
	                    </th>
	                    <th class="text-center sort-pointer" data-sort-data="clientType"
	                    th:data-sort-order="${sortOrder}"
	                    th:classappend="${sortData == 'clientType' ? 'active' : ''}">タイプ
	                      <i class="fas fa-long-arrow-alt-up" th:classappend="${sortData == 'clientType' && sortOrder == 'asc' ? 'sort-active' : ''}"></i><i class="fas fa-long-arrow-alt-down" th:classappend="${sortData == 'clientType' && sortOrder == 'desc' ? 'sort-active' : ''}"></i>
	                    </th>
	                    <th class="text-center">案件数</th>
	                    <th class="text-center">連絡先</th>
	                    <th class="text-center">当社担当者</th>
	                    <th class="text-center sort-pointer" data-sort-data="firstInterviewDate"
	                    th:data-sort-order="${sortOrder}"
	                    th:classappend="${sortData == 'firstInterviewDate' ? 'active' : ''}">初回面談日
	                      <i class="fas fa-long-arrow-alt-up" th:classappend="${sortData == 'firstInterviewDate' && sortOrder == 'asc' ? 'sort-active' : ''}"></i><i class="fas fa-long-arrow-alt-down" th:classappend="${sortData == 'firstInterviewDate' && sortOrder == 'desc' ? 'sort-active' : ''}"></i>
	                    </th>
	                    <th class="text-center" style="width:10%;">編集</th>
	                    <th class="text-center" style="width:10%;">削除</th>
	                  </tr>
	                </thead>
                    <tbody>
	                  <tr th:each="c : ${list}" role="row">
	                    <td class="text-center" data-toggle="tooltip" data-placement="top"
	                      title="詳細ページへ">
	                      <a th:href="@{/client/detail/{id}(id=${c.id})}" class="w-100 h-100" style="display:block;">
	                        <i class="fas fa-external-link-alt fa-2x"></i>
	                      </a>
	                    </td>
	                    <td th:text="${c.name}"></td>
	                    <td th:text="${c.getValueOfIndustry()}"></td>
	                    <td th:text="${c.getValueOfClientType()}"
	                      th:classappend="${c.clientType == 1 ? 'text-warning' :
	                      c.clientType == 2 ? 'text-info' : c.clientType == 3 ? 'text-success' :
	                      c.clientType == 4 ? 'text-pink' : c.clientType == 5 ? 'text-danger' : ''}" th:attr="data-type=${c.clientType}"></td>
	                    <td th:text="${projectCount.get(__${c.id}__) != null ?  projectCount.get(__${c.id}__) + '件' : ''}">
	                    </td>
	                    <td>
	                      <div class="card card-light collapsed-card">
                            <div class="card-header mouse-pointer contact-header" data-card-widget="collapse">
                              <span class="text-center">表示</span>
                            </div>
                            <div class="card-body">
                              <div class="contact-content">
	                            <div th:each="cs, stat : ${c.clientEmployeeList}"
	                              th:class="${stat.last ? '' : 'mb-3'}">
                                  <div>
                                    <span data-toggle="tooltip" th:title="${cs.getStandpointValue()}">
                                      <span class="text-bold" th:text="${cs.name}"></span>&nbsp;<i class="fas fa-comment-dots"></i>
                                    </span>
                                    <span class="text-muted text-sm" th:text="${cs.department}"></span>
                                    <span class="text-muted text-sm" th:text="${cs.position}"></span>
                                  </div>
                                  <div>

                                  </div>
                                  <div>
                                    <span><i class="fas fa-phone"></i>：</span>
                                    <a th:href="@{'tel:' + ${cs.tel}}"
                                      th:text="${cs.tel}"></a>
                                  </div>
                                  <div>
                                    <span><i class="far fa-envelope"></i>：</span>
                                    <a th:href="@{'mailto:' + ${cs.email}}"
                                    th:text="${cs.email}" target=_blank></a>
                                  </div>
	                            </div>
	                          </div>
                            </div>
                          </div>
	                    </td>
	                    <td>
	                      <th:block th:each="s : ${c.employeeClientList}">
	                        <div><a th:href="@{/employee/detail/{id}(id=${s.employee?.id})}" th:text="${s.employee?.name}" th:class="${s.employee?.delFlg ? 'text-danger' : ''}"></a></div>
	                        <div th:if="${s.employee?.delFlg}"><span class="text-danger font-italic">※この社員は既に削除されています</span></div>
	                      </th:block>
	                    </td>
	                    <td th:text="${c.firstInterviewDate}"></td>
	                    <td class="text-center">
	                      <button type="button" class="btn btn-info client-edit-button" id="client-edit-button"
	                        th:attr="data-href=@{/client/show}, data-id=${c.id}"
	                        data-toggle="modal" data-target="#client-edit-modal">
	                        <i class="far fa-edit"></i>
	                      </button>
	                    </td>
	                    <td class="text-center">
	                      <button type="button" class="btn btn-danger client-del-button"
	                        th:attr="data-href=@{/client/delete}, data-id=${c.id}">
	                        <i class="far fa-trash-alt"></i>
	                      </button>
	                    </td>
	                  </tr>
	                </tbody>
	              </table>
	            </div>
	          </div>
	        </div>
	        <div th:if="${not #lists.isEmpty(list)}">
	          <th:block th:include="/layout/pagination::pagination"></th:block>
	        </div>
	      </div>
	    </section>
	    <!-- /.card-body -->
	  </div>
	  <!-- search modal -->
	  <th:block th:replace="client/search::client-search-modal"></th:block>
	  <!-- create modal -->
	  <th:block th:replace="client/create::client-create-modal"></th:block>
	  <!-- edit modal -->
	  <th:block th:replace="client/edit::client-edit-modal"></th:block>
    </section>
  </div>
</body>
</html>