<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">

<head>
<title>問い合わせ・要望・クレーム一覧</title>
</head>
<body>
  <div layout:fragment="contents">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2 bg-white">
          <div class="col-sm-6"></div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
              <li class="breadcrumb-item active">問い合わせ・要望・クレーム一覧</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <section class="content">
      <div class="card">
        <div class="card-header">
          <h3><i class="fas fa-question-circle"></i>&nbsp;問い合わせ・要望・クレーム一覧</h3>
        </div>
        <!-- /.card-header -->

        <div class="card-body">
          <div class="mt-4 mb-3">
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#inquiry-create-modal">
              <i class="fas fa-plus"></i>&nbsp;問い合わせ・要望・クレーム追加
            </button>
            <button type="button" class="btn btn-light btn-lg" data-toggle="modal" data-target="#inquiry-search-modal">
              <i class="fas fa-search"></i>&nbsp;問い合わせ・要望・クレーム検索
            </button>
          </div>
        </div>

        <div class="card-body">
          <div class="dataTables_wrapper" th:fragment="inquiry-table">
            <div class="row">
              <div class="col-sm-12 table-scroll">
                <span class="text-danger" th:if="${hasErrors}">※検索フォームの項目にエラーがあります。</span>
                <table id="inquiry-table" class="table table-bordered table-striped dataTable text-nowrap" style="width:100%;">
	              <thead>
	                <tr class="bg-success" role="row" th:with="sortOrder = ${inquiryRequirementComplaintSearchForm.sortOrder},
	                  sortData = ${inquiryRequirementComplaintSearchForm.sortData}">
	                  <th class="text-center" style="width:10%;">詳細</th>
	                  <th class="text-center sort-pointer" data-sort-data="clientId" th:data-sort-order="${sortOrder}"
	                    th:classappend="${sortData == 'clientId' ? 'active' : ''}">
	                    顧客名
	                    <i class="fas fa-long-arrow-alt-up" th:classappend="${sortData == 'clientId' && sortOrder == 'asc' ? 'sort-active' : ''}"></i><i class="fas fa-long-arrow-alt-down" th:classappend="${sortData == 'clientId' && sortOrder == 'desc' ? 'sort-active' : ''}"></i>
	                  </th>
	                  <th class="text-center sort-pointer" data-sort-data="occurredDate" th:data-sort-order="${sortOrder}"
	                    th:classappend="${sortData == 'occurredDate' ? 'active' : ''}">
	                    発生日
	                    <i class="fas fa-long-arrow-alt-up" th:classappend="${sortData == 'occurredDate' && sortOrder == 'asc' ? 'sort-active' : ''}"></i><i class="fas fa-long-arrow-alt-down" th:classappend="${sortData == 'occurredDate' && sortOrder == 'desc' ? 'sort-active' : ''}"></i>
	                  </th>
	                  <th class="text-center sort-pointer" data-sort-data="contentType" th:data-sort-order="${sortOrder}"
	                    th:classappend="${sortData == 'contentType' ? 'active' : ''}">
	                    タイプ
	                    <i class="fas fa-long-arrow-alt-up" th:classappend="${sortData == 'contentType' && sortOrder == 'asc' ? 'sort-active' : ''}"></i><i class="fas fa-long-arrow-alt-down" th:classappend="${sortData == 'contentType' && sortOrder == 'desc' ? 'sort-active' : ''}"></i>
	                  </th>
	                  <th class="text-center">内容</th>
	                  <th class="text-center sort-pointer" data-sort-data="responsibleEmployeeId" th:data-sort-order="${sortOrder}"
	                    th:classappend="${sortData == 'responsibleEmployeeId' ? 'active' : ''}">
	                    担当責任者
	                    <i class="fas fa-long-arrow-alt-up" th:classappend="${sortData == 'responsibleEmployeeId' && sortOrder == 'asc' ? 'sort-active' : ''}"></i><i class="fas fa-long-arrow-alt-down" th:classappend="${sortData == 'responsibleEmployeeId' && sortOrder == 'desc' ? 'sort-active' : ''}"></i>
	                  </th>
	                  <th class="text-center">解決済か</th>
	                  <th class="text-center sort-pointer" data-sort-data="solvedDate" th:data-sort-order="${sortOrder}"
	                    th:classappend="${sortData == 'solvedDate' ? 'active' : ''}">
	                    解決日
	                    <i class="fas fa-long-arrow-alt-up" th:classappend="${sortData == 'solvedDate' && sortOrder == 'asc' ? 'sort-active' : ''}"></i><i class="fas fa-long-arrow-alt-down" th:classappend="${sortData == 'solvedDate' && sortOrder == 'desc' ? 'sort-active' : ''}"></i>
	                  </th>
	                  <th class="text-center">解決内容</th>
	                  <th class="text-center" style="width:10%;">編集</th>
	                  <th class="text-center" style="width:10%;">削除</th>
	                </tr>
	              </thead>
                  <tbody>
	                <tr th:each="l, stat: ${list}">
	                  <td th:unless="${l.client?.delFlg}"
	                    class="text-center" data-toggle="tooltip" data-placement="top"
	                    title="詳細ページへ">
	                    <a th:href="@{/client/detail/{id}?type={type}(id=${l.client?.id},type=${l.contentType})}" class="w-100 h-100"
	                      style="display:block;">
	                      <i class="fas fa-external-link-alt fa-2x"></i>
	                    </a>
	                  </td>
	                  <td th:if="${l.client?.delFlg}"></td>
	                  <td>
	                    <div><span th:text="${l.client?.name}" th:class="${l.client?.delFlg ? 'text-danger' : ''}"></span></div>
	                    <div><span th:if="${l.client?.delFlg}" class="text-danger font-italic">※この顧客は既に削除されています</span></div>
	                  </td>
	                  <td th:text="${l.occurredDate}"></td>
	                  <td th:text="${l.getContentTypeValue()}"></td>
	                  <td data-toggle="tooltip" data-placement="top" th:title="${l.content}">
	                    <span th:if="${10 <= #strings.length(l.content)}"
	                      th:text="|${#strings.substring(l.content,0,9)}...|"></span>
						<span th:unless="${10 <= #strings.length(l.content)}" th:text="${l.content}"></span>
	                  </td>
	                  <td th:text="${l.employee?.name}"></td>
	                  <td th:text="${l.hasSolved ? '解決済み' : '未解決'}"
	                    th:classappend="${l.hasSolved ? 'text-danger' : 'text-success'}"></td>
	                  <td th:text="${l.solvedDate}"></td>
	                  <td data-toggle="tooltip" data-placement="top" th:title="${l.solvedContent}">
	                    <span th:if="${10 <= #strings.length(l.solvedContent)}"
	                      th:text="|${#strings.substring(l.solvedContent,0,9)}...|"></span>
						<span th:unless="${10 <= #strings.length(l.solvedContent)}" th:text="${l.solvedContent}"></span>
	                  </td>
	                  <td class="text-center">
	                    <button type="button" class="btn btn-info inquiry-edit-button" id="inquiry-edit-button"
	                      th:attr="data-href=@{/inquiry_requirement_complaint/show}, data-id=${l.id}"
	                      data-toggle="modal" data-target="#inquiry-edit-modal">
	                      <i class="far fa-edit"></i>
	                    </button>
	                  </td>
	                  <td class="text-center">
	                    <button type="button" class="btn btn-danger inquiry-del-button"
	                      th:attr="data-href=@{/inquiry_requirement_complaint/delete}, data-id=${l.id}">
	                      <i class="far fa-trash-alt"></i>
	                    </button>
	                  </td>
	                </tr>
	              </tbody>
	            </table>
	          </div>
	        </div>
	      </div>
	      <div th:if="${not #lists.isEmpty(list)}">
	        <th:block th:include="/layout/pagination::pagination"></th:block>
	      </div>
	    </div>
	    <!-- /.card-body -->
	  </div>
	  <!-- search modal -->
	  <th:block th:replace="inquiry_requirement_complaint/search::inquiry-search-modal"></th:block>
	  <!-- create modal -->
	  <th:block th:replace="inquiry_requirement_complaint/create::inquiry-create-modal"></th:block>
	  <!-- edit modal -->
	  <th:block th:replace="inquiry_requirement_complaint/edit::inquiry-edit-modal"></th:block>
    </section>
  </div>
</body>
</html>