<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<body>
  <div class="contents" th:fragment="staff-search-modal">
    <section class="content">
      <!-- Detail Modal -->
      <div class="modal fade" id="staff-search-modal" aria-hidden="true" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"><i class="fas fa-search"></i>&nbsp;社員検索</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="card card-light">
                <div class="card-header">
                  <h3 class="card-title">社員情報検索</h3>
                </div>
                <div class="card-body" style="display: block;">
                  <!-- form start -->
                  <form th:action="@{/staff/search}" method="GET" id="staffSearchForm" class="form-horizontal"
                    th:object="${staffSearchForm}">
                    <div class="card-body">
                      <div class="form-group row">
                        <label for="targetName" class="col-sm-2 col-form-label">氏名：</label>
                        <div class="col-sm-5 row">
                          <input type="text" class="form-control" th:field="*{targetName}">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="targetDepartment" class="col-sm-2 col-form-label">担当部署：</label>
                        <div class="col-sm-6 row">
                          <input type="text" class="form-control" th:field="*{targetDepartment}">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="targetPosition" class="col-sm-2 col-form-label">役職：</label>
                        <div class="col-sm-6 row">
                          <input type="text" class="form-control" th:field="*{targetPosition}">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="targetJoinYear" class="col-sm-2 col-form-label">入社年月：</label>
                        <div class="col-lg-3 col-sm-4 col-md-5 row mr-1">
                          <select class="form-control" th:field="*{targetJoinYear}">
                            <option value="">-- 未選択 --</option>
                            <th:block th:each="y : ${yearList}">
                              <option th:value="${y}" th:text="|${y}年|"></option>
                            </th:block>
                          </select>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-md-5 row">
                          <select class="form-control" th:field="*{targetJoinMonth}">
                            <option value="">-- 未選択 --</option>
                            <th:block th:each="m : ${monthList}">
                              <option th:value="${m}" th:text="|${m}月|"></option>
                            </th:block>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-3 form-check row">
                          <input class="form-check-input staff-radio" type="radio" id="before" value="1"
                            style="transform:scale(1.5);" name="condition">
                          <label class="form-check-label" for="before">より前</label>
                        </div>
                        <div class="col-sm-3 form-check row">
                          <input class="form-check-input staff-radio" type="radio" id="equal" value="2"
                            style="transform:scale(1.5);" name="condition" checked>
                          <label class="form-check-label" for="equal">と同じ</label>
                        </div>
                        <div class="col-sm-3 form-check row">
                          <input class="form-check-input staff-radio" type="radio" id="after" value="3"
                            style="transform:scale(1.5);" name="condition">
                          <label class="form-check-label" for="after">より後</label>
                        </div>
                      </div>
                      <input type="hidden" th:field="*{pageNumber}"/>
                    </div>
                    <div class="card-footer">
                      <button type="button" class="btn btn-light bg-navy btn-lg search-btn ml-3 float-right">検索</button>
                      <button type="button" class="d-none btn btn-light bg-navy btn-lg reset-search-form-btn float-right">検索条件クリア</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">キャンセル</button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>
</html>