<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">

<head>
<title>名刺一覧</title>
</head>
<body>
  <div layout:fragment="contents">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2 bg-white">
          <div class="col-sm-6"></div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
              <li class="breadcrumb-item active">名刺一覧</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <section class="content">
      <div class="card">
        <div class="card-header">
          <h3><i class="fas fa-address-card"></i>&nbsp;名刺一覧</h3>
        </div>
        <!-- /.card-header -->

        <div class="card-body">
          <div class="mt-4 mb-3">
            <button type="button" class="btn btn-primary btn-lg"
              data-toggle="modal" data-target="#business-card-create-modal">
              <i class="fas fa-plus"></i>&nbsp;名刺登録
            </button>
            <button type="button" class="btn btn-light btn-lg"
              data-toggle="modal" data-target="#business-card-search-modal">
              <i class="fas fa-search"></i>&nbsp;名刺検索
            </button>
          </div>
        </div>

        <div class="card-body">
          <div class="dataTables_wrapper" th:fragment="business-card-table">
            <div class="row">
              <div class="col-sm-12 table-responsive">
                <span class="text-danger" th:if="${hasErrors}">※検索フォームの項目にエラーがあります。</span>
                <table id="business-card-table" class="table table-bordered text-nowrap" style="width:100%;">
                  <tbody>
	                <tr th:each="b, stat: ${list}">
	                  <td class="border border-left-0 border-right-0" width="30%">
	                    <span th:if="${images[stat.index] != null}">※画像クリックで拡大表示</span>
	                    <img class="img-fluid card mouse-pointer" th:if="${images[stat.index] != null}"
	                      th:src="${'data:image/png;base64,'+images[stat.index]}">
	                  </td>
	                  <td class="border border-left-0 border-right-0">
	                    <span th:text="${b.companyName}"></span>
	                    <p class="text-bold" th:text="${b.name}"></p>
	                  </td>
	                  <td class="border border-left-0 border-right-0">
	                    <span th:text="${b.department}"></span>
	                    <p th:text="${b.position}"></p>
	                  </td>
	                  <td class="border border-left-0 border-right-0">
	                    <div th:if="${not #strings.isEmpty(b.tel)}">
	                      <i class="fas fa-phone-alt"></i>
	                      <a th:href="@{'tel:' + ${b.tel}}" th:text="${b.tel}"></a>
	                    </div>
	                    <div th:if="${not #strings.isEmpty(b.email)}">
	                      <i class="fas fa-envelope"></i>
	                      <a th:href="@{'mailto:' + ${b.email}}" th:text="${b.email}" target=_blank></a>
	                    </div>
	                    <div th:if="${b.exchangeDate != null}">
	                      <i class="fas fa-exchange-alt"></i>
	                      <span th:text="${b.exchangeDate}"></span>
	                    </div>
	                  </td>
	                  <td class="border border-left-0 border-right-0">
	                    <div class="mb-1">
	                      <button type="button" class="btn btn-info business-card-show-btn" data-toggle="modal"
	                        data-target="#business-card-edit-modal" th:data-id="${b.id}" th:data-href="@{/business_card/show}">
	                        <i class="far fa-edit"></i>&nbsp;編集
	                      </button>
	                    </div>
	                    <div class="mt-1">
	                      <button type="button" class="btn btn-danger del-business-card"
	                        th:data-id="${b.id}" th:data-href="@{/business_card/delete}">
	                        <i class="far fa-trash-alt"></i>&nbsp;削除
	                      </button>
	                    </div>
	                  </td>
	                </tr>
	                <tr th:if="${#lists.isEmpty(list)}">
	                  <td colspan="5">※データがありません。</td>
	                </tr>
	            </table>
	          </div>
	        </div>
	      </div>
	      <div th:if="${not #lists.isEmpty(list)}">
	        <th:block th:include="layout/pagination::pagination"></th:block>
	      </div>
	    </div>
	    <!-- /.card-body -->
	  </div>
	  <!-- zoom modal -->
	  <th:block th:replace="business_card/zoom::business-card-zoom-modal"></th:block>
	  <!-- create modal -->
	  <th:block th:replace="business_card/create::business-card-create-modal"></th:block>
	  <!-- edit modal -->
	  <th:block th:replace="business_card/edit::business-card-edit-modal"></th:block>
	  <!-- search modal -->
	  <th:block th:replace="business_card/search::business-card-search-modal"></th:block>
    </section>
  </div>
</body>
</html>