<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">

<head>
<title>Error</title>
</head>
<body>
    <div layout:fragment="contents">
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Error Page</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
                <li class="breadcrumb-item active">Error Page</li>
              </ol>
            </div>
          </div>
        </div>
      </section>

      <section class="content">
        <div class="error-page">
          <h2 class="headline text-orange">403</h2>
          <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-orange"></i> エラーが起きました。</h3>
            <p>
            ページへのアクセス権限がありません。
            <a th:href="@{/home}">こちらより</a>ホーム画面に戻れます。
            </p>
          </div>
        </div>
      </section>
    </div>
</body>
</html>