.navbar-color{
  background-color: #3ab0c3;
}

.sidebar-color{
 background-color: #EEEEEE;
}

a.disabled{
	pointer-events: none;
}

.search-btn{
	width:300px;
}

select2-selection__rendered {
    line-height: 35px !important;
}
.select2-container .select2-selection--single {
    height: 38px !important;
}
.select2-selection__arrow {
    height: 36px !important;
}

/* 日曜日のカラー設定 */
td.ui-datepicker-week-end:last-child a.ui-state-default{
  background-color: #ffecec;   /* 背景色を設定 */
  color: #f00!important;       /* 文字色を設定 */
}
/* 土曜日のカラー設定 */
td.ui-datepicker-week-end a.ui-state-default{
  background-color: #eaeaff;   /* 背景色を設定 */
  color: #00f!important;       /* 文字色を設定 */
}
/* ホバー時の動作 */
td.ui-datepicker-week-end a.ui-state-hover{
  opacity: 0.8;
}
/* 当日を示す色はそのまま */
td.ui-datepicker-week-end a.ui-state-highlight{
  background-color: #fffa90!important;
}

.dataTable th, .dataTable td{
	border : none;
}

th.sort-pointer{
  cursor:pointer;
}

th.sort-pointer:hover{
  opacity:0.7;
  transform: translate3d(0, 1px, 0);
}

.sort-active{
  opacity:1.0;
}

th i{
  opacity:0.4;
}

.zoom {
  display:none;
}

@media screen and (max-width:480px) {
	.zoom {
	  display:block;
	}
}

.mouse-pointer{
	cursor:pointer;
}

.table-scroll {
  margin: auto;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;;
}

#smartwizard.sw-theme-arrows>ul.step-anchor {
  display: block;
  border: 0 solid #ccc!important;
  padding: 0;
  background: #f5f5f5;
  border-radius: 5px;
  list-style: none;
  overflow: hidden;
  margin-top: 20px
}
#smartwizard.sw-theme-arrows>ul.step-anchor li+li:before {
  padding: 0
}
#smartwizard.sw-theme-arrows>ul.step-anchor>li {
  float: left
}
#smartwizard.sw-theme-arrows>ul.step-anchor>li>a {
  color: #bbb;
  text-decoration: none;
  padding: 10px 0 10px 45px;
  position: relative;
  display: block;
  float: left;
  border-radius: 0;
  outline-style: none;
  background: #ddd
}
#smartwizard.sw-theme-arrows>ul.step-anchor>li>a:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid #ddd;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 100%;
  z-index: 2
}
#smartwizard.sw-theme-arrows>ul.step-anchor>li>a:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid white;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 1px;
  left: 100%;
  z-index: 1
}
#smartwizard.sw-theme-arrows>ul.step-anchor>li:first-child>a {
  padding-left: 15px
}
#smartwizard.sw-theme-arrows>ul.step-anchor>li>a:hover {
  color: #bbb;
  text-decoration: none;
  outline-style: none;
  background: #ffc107;
  border-color: #ffc107
}
#smartwizard.sw-theme-arrows>ul.step-anchor>li>a:hover:after {
  border-left-color: #ffc107
}
#smartwizard.sw-theme-arrows>ul.step-anchor>li.clickable>a:hover {
  color: #4285f4!important;
  background: #46b8da!important
}
#smartwizard.sw-theme-arrows>ul.step-anchor>li.active>a {
  border-color: #5bc0de!important;
  color: #fff!important;
  background: #5bc0de!important
}
#smartwizard.sw-theme-arrows>ul.step-anchor>li.active>a:after {
  border-left: 30px solid #5bc0de!important
}
#smartwizard.sw-theme-arrows>ul.step-anchor>li.done>a {
  border-color: #5cb85c!important;
  color: #fff!important;
  background: #5cb85c!important
}
#smartwizard.sw-theme-arrows>ul.step-anchor>li.done>a:after {
  border-left: 30px solid #5cb85c
}
#smartwizard.sw-theme-arrows>ul.step-anchor>li.disabled>a, .sw-theme-arrows>ul.step-anchor>li.disabled>a:hover {
  color: #eee!important
}