<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<body>
  <div class="contents" th:fragment="business-card-create-modal">
    <section class="content">
			<!-- Detail Modal -->
			<div class="modal fade" id="business-card-create-modal" aria-hidden="true" data-keyboard="false" data-backdrop="static">
				<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title"><i class="fas fa-plus"></i>&nbsp;名刺登録</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<form th:action="@{/business_card/create}" method="POST" class="container"
							id="business-card-form" th:object="${businessCardForm}" enctype="multipart/form-data">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="form-group col-lg-8 col-md-12 col-sm-12">
										<label for="companyName">会社名&nbsp;<span class="text-danger">*必須</span>：</label>
										<select class="form-control select2" th:field="*{companyName}"
											th:data-href="@{/client/api/get_client_name}">
										</select>
										<span class="text-danger" th:if="${#fields.hasErrors('companyName')}"th:errors="*{companyName}"></span>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-lg-7 col-md-8 col-sm-12">
										<label for="name">氏名&nbsp;<span class="text-danger">*必須</span>：</label>
										<input type="text" class="form-control" th:field="*{name}">
										<span class="text-danger" th:if="${#fields.hasErrors('name')}"th:errors="*{name}"></span>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-lg-5 col-md-7 col-sm-12">
										<label for="department">部署&nbsp;<span class="text-danger">*必須</span>：</label>
										<input type="text" class="form-control" th:field="*{department}">
										<span class="text-danger" th:if="${#fields.hasErrors('department')}"th:errors="*{department}"></span>
									</div>
									<div class="form-group col-lg-5 col-md-7 col-sm-12">
										<label for="position">役職：</label>
										<input type="text" class="form-control" th:field="*{position}">
										<span class="text-danger" th:if="${#fields.hasErrors('position')}"th:errors="*{position}"></span>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-lg-6 col-md-10 col-sm-12">
										<label for="tel">電話番号：</label>
										<input type="tel" class="form-control" th:field="*{tel}">
										<span class="text-danger" th:if="${#fields.hasErrors('tel')}"th:errors="*{tel}"></span>
									</div>
									<div class="form-group col-lg-6 col-md-10 col-sm-12">
										<label for="email">メール：</label>
										<input type="email" class="form-control" th:field="*{email}">
										<span class="text-danger" th:if="${#fields.hasErrors('email')}"th:errors="*{email}"></span>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-lg-7 col-md-10 col-sm-12">
										<label for="image">交換日：</label>
										<input type="text" class="form-control datepicker" th:field="*{exchangeDate}"
											placeholder="クリックして日付を入力">
									</div>
								</div>
								<div class="row">
									<div class="form-group col-lg-7 col-md-10 col-sm-12">
										<label for="image">名刺画像：</label>
										<input type="file" th:field="*{image}" accept="image/*">
									</div>
								</div>
							</div>
						</div>
					</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">キャンセル</button>
						<button type="button" class="btn btn-primary" id="create-button">登録</button>
					</div>
				</div>
		</div>
	  </div>
    </section>
  </div>
</body>
</html>