<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<body>
  <div class="contents" th:fragment="product-edit-modal">
    <section class="content">
			<!-- Detail Modal -->
			<div class="modal fade" id="product-edit-modal" aria-hidden="true" data-keyboard="false" data-backdrop="static">
				<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title"><i class="far fa-edit"></i>&nbsp;製品・サービス情報編集</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body" th:fragment="product-edit">
						<form th:action="@{/product/edit}" method="POST" class="container" id="product-edit-form" th:object="${productForm}">
						<th:block th:object="${data}" th:if="${data != null}">
						<input type="hidden" name="id" th:value=${data.id}>
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="form-group col-lg-7 col-md-12 col-sm-12">
										<label for="industry">顧客名&nbsp;<span class="text-danger">*必須</span>：</label>
										<select class="form-control" name="clientId" th:data-href="@{/client/api/get_client}">
											<option th:text="${data.client?.name}" th:value="${data.client?.id}"/>
									</select>
									<span class="text-danger font-italic" th:if="${data.client?.delFlg}">※この顧客は既に削除されています。</span>
									<span class="text-danger" th:errors="${productForm.clientId}"></span>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-lg-7 col-md-12 col-sm-12">
										<label for="industry">製品・サービス名&nbsp;<span class="text-danger">*必須</span>：</label>
										<input type="text" class="form-control" name="productName" th:value="${data.name}">
										<span class="text-danger" th:errors="${productForm.productName}"></span>
									</div>
									<div class="form-group col-lg-4 col-md-4 col-sm-12">
										<label for="industry">数量&nbsp;<span class="text-danger">*必須</span>：</label>
										<div class="input-group">
									<input type="number" class="form-control group text-right" name="productQuantity"
										th:value="${data.quantity}" min=0>
									<div class="input-group-append">
										<span class="input-group-text">個</span>
									</div>
								</div>
								<span class="text-danger" th:errors="${productForm.productQuantity}"></span>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-lg-4 col-md-6 col-sm-12">
										<label for="industry">売上金額&nbsp;<span class="text-danger">*必須</span>：</label>
										<div class="input-group">
									<input type="number" class="form-control group text-right" name="productSales"
										th:value="${data.sales}" min=0>
									<div class="input-group-append">
										<span class="input-group-text">万円</span>
									</div>
								</div>
								<span class="text-danger" th:errors="${productForm.productSales}"></span>
									</div>
									<div class="form-group col-lg-7 col-md-12 col-sm-12">
										<label for="industry">受注日&nbsp;<span class="text-danger">*必須</span>：</label>
										<input type="text" class="form-control datepicker" name="purchasedDate" th:value="${data.purchasedDate}"
											placeholder="クリックして日付を入力">
										<span class="text-danger" th:errors="${productForm.purchasedDate}"></span>
									</div>
								</div>
								<div class="row">
									<div class="form-group col-12">
										<label for="industry">備考：</label>
										<textarea class="form-control" name="productRemarks" th:text="${data.remarks}"></textarea>
									</div>
								</div>
							</div>
						</div>
						</th:block>
					</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">キャンセル</button>
						<button type="button" class="btn btn-info" id="edit-product-button">編集</button>
					</div>
				</div>
		</div>
	  </div>
    </section>
  </div>
</body>
</html>