<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head>
	<title>zoom</title>
</head>
<body>
  <div class="contents" th:fragment="timeline-image-zoom-modal">
    <section class="content">
			<!-- Detail Modal -->
			<div class="modal" id="timeline-image-zoom-modal" aria-hidden="true" data-keyboard="false">
				<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-body">
						<div class="text-center" id="zoom"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">閉じる</button>
					</div>
				</div>
			</div>
			</div>
    </section>
  </div>
</body>
</html>