<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">

<head>
<title>ホーム</title>
</head>
<body>
  <div layout:fragment="contents">
  <div class="card m-2" style="position: relative; left: 0px; top: 0px;">
    <div class="card-header ui-sortable-handle">
      <h3 class="card-title">
        <em class="fa fa-clipboard-list mr-1"></em>
      To Do リスト
      </h3>
    </div>

    <div class="card-body" id="todo-body" th:data-url="@{/todo/get_todo_fragment}">
      <th:block th:fragment="todo-fragment">
        <div th:if="${#lists.isEmpty(todoList)}"
          class="alert alert-warning alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          ※ ToDoはありません。
        </div>

        <ul class="todo-list ui-sortable" data-widget="todo-list">
          <li th:each="todo, stat : ${todoList}">
            <div class="icheck-primary d-inline ml-2">
              <input class="todo-input" type="checkbox" th:name="|todo${stat.index}|" th:id="|todoCheck${stat.index}|"
                style="transform: scale(2);" th:checked="${todo.isDone}" th:data-id="${todo.id}"
                th:data-url="@{/todo/done}">
              <label th:for="|todoCheck${stat.index}|"></label>
            </div>
            <span class="text todo-span" th:text="${todo.task}"></span>
            <small class="badge"
              th:classappend="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd HH') gt
                #temporals.format(todo.deadline, 'yyyy-MM-dd HH') ? 'badge-danger' :
                #calendars.format(#calendars.createNow(), 'yyyy-MM-dd HH') eq
                #temporals.format(todo.deadline, 'yyyy-MM-dd HH') ? 'badge-warning' : 'badge-success'}">
              <em class="far fa-clock"></em>&nbsp;<span th:text="${#temporals.format(todo.deadline, 'MM月dd日 HH:mm')}"></span>まで</small>
            <div class="tools">
              <span class="mouse-pointer todo-del-span" th:data-id="${todo.id}" th:data-href="@{/todo/delete}"><em class="fas fa-trash"></em>削除</span>
            </div>
          </li>
        </ul>
      </th:block>
    </div>

    <div class="card-footer clearfix">
      <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#create-todo-modal"><em class="fas fa-plus"></em>&nbsp;ToDo追加</button>
    </div>
    </div>
    <!-- Create ToDo modal -->
    <th:block th:replace="home/todo::create-todo"></th:block>
  </div>
</body>
</html>