<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head>
	<title>todo</title>
</head>
<body>
  <div class="contents" th:fragment="create-todo">
    <section class="content">
			<div class="modal fade" id="create-todo-modal" aria-hidden="true" data-keyboard="false" data-backdrop="static">
				<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title"><em class="fa fa-plus"></em>&nbsp;ToDo追加</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<form th:action="@{/todo/create}" method="POST" class="container"
								id="create-todo-form">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="form-group col-lg-12 col-md-12 col-sm-12">
											<label for="industry">ToDo：</label>
											<textarea class="form-control todo" name="task"></textarea>
										</div>
										<p class="text-bold text-danger err-msg d-none">100字以内で入力してください</p>
									</div>
									<div class="row">
										<div class="form-group col-lg-12 col-md-12 col-sm-12">
											<label for="industry">期限：</label>
											<input type="text" class="form-control datetimepicker" name="deadline"
												placeholder="クリックして日時を入力">
										</div>
									</div>
								</div>
							</div>
						</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">キャンセル</button>
							<button type="button" class="btn btn-primary" id="create-todo" disabled>追加</button>
						</div>
					</div>
				</div>
			</div>
    </section>
  </div>
</body>
</html>