<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">

<head>
<title>売上分析</title>
</head>
<body>
  <div layout:fragment="contents">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2 bg-white">
          <div class="col-sm-6"></div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
              <li class="breadcrumb-item active">売上分析</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <section class="content">
      <div class="card">
        <div class="card-header">
          <h3><em class="fas fa-chart-line"></em>&nbsp;売上分析</h3>
        </div>

        <section class="content mt-3">
          <div class="m-3 row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <table class="table table-bordered table-striped table-analysis">
                <caption>RFM分析</caption>
                <thead>
                  <tr class="bg-info text-center">
                    <th class="w-25"></th>
                    <th class="w-25">最新購買日</th>
                    <th class="w-25">購買頻度</th>
                    <th class="w-25">購買金額</th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  <tr>
                    <td class="rank-1">ランク1</td>
                    <td>3週間以内</td>
                    <td>15回以上</td>
                    <td>2,000万円以上</td>
                  </tr>
                  <tr>
                    <td class="rank-2">ランク2</td>
                    <td>3ヶ月以内</td>
                    <td>10回以上</td>
                    <td>1,000万円以上</td>
                  </tr>
                  <tr>
                    <td class="rank-3">ランク3</td>
                    <td>半年以内</td>
                    <td>6回以上</td>
                    <td>500万円以上</td>
                  </tr>
                  <tr>
                    <td class="rank-4">ランク4</td>
                    <td>1年以内</td>
                    <td>3回以上</td>
                    <td>100万円以上</td>
                  </tr>
                  <tr>
                    <td class="rank-5">ランク5</td>
                    <td>1年より前</td>
                    <td>3回未満</td>
                    <td>100万円未満</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="m-3" id="analysis-bubble"></div>
          <div class="m-3" id="analysis-3d"></div>
        </section>
      </div>
      <!-- create modal -->
      <th:block th:replace="timeline/create::create-timeline"></th:block>
      <!-- HighCharts.js -->
    <link rel="stylesheet" th:href="@{/dist/highcharts/css/highcharts.css}">
    <script th:src="@{/dist/highcharts/js/highcharts.js}"></script>
    <script th:src="@{/dist/highcharts/js/highcharts-more.js}"></script>
    <script th:src="@{/dist/highcharts/js/highcharts-3d.js}"></script>
    <script th:src="@{/dist/highcharts/js/accessibility.js}"></script>
    <script th:src="@{/js/analysis.js}"></script>
    </section>
  </div>
</body>
</html>